/* MUST BE FIRST */
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap");
.bg-container{
   background-image:url("https://d2clawv67efefq.cloudfront.net/ccbp-static-website/chatbg.png");
   background-size: cover;
   background-position: center;
   font-family: "Roboto";
   min-height: 100vh;;
   font-size: 16px;
   color: #ffffff;
}
.main-heading{
    text-align: center;
    background-color:#323f4b ;
   }
.Bharath{
    background-color: #47a3f3;
    border-radius: 5px;
    text-align: right;
    border-bottom-right-radius:0px;
    padding:10px;
       align-self: flex-end;
}
.Charan{
    background-color: #52606d;
    border-radius: 5px;
    border-bottom-left-radius:0px;
    padding:10px;
       align-self: flex-start;
}
.padding{
    padding:20px;
}
