@import url("https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&display=swap");
body{
    margin: 0;
    padding: 0;
}
.bg-container{
    background-image: url("https://d2clawv67efefq.cloudfront.net/ccbp-static-website/ocean.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
}
.bharath-card {
    padding: 20px;
    text-align: center;
    background-color: white;
    border-top-left-radius: 25px;
    border-top-right-radius: 25px;
}
.main-heading{
    text-align: center;
    font-family: "Roboto";
}
.button{
    height: 25px;
    width:150px;
    border-width: 0px;
    border-radius: 10px;
}
.paragraph2{
    text-decoration: underline;
        text-align: center;
}
.paragraph1{
    text-align: center;
}
.paragraph3{
    text-align: left;
}